<ul class="nav nav-pills mb-3" id="inner-pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active"
      id="pills-quoteRequest-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-quoteRequest"
      type="button"
      role="tab"
      aria-controls="pills-quoteRequest"
      aria-selected="true"
    >
      Quote Request
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="pills-quoteGeneration-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-quoteGeneration"
      type="button"
      role="tab"
      aria-controls="pills-quoteGeneration"
      aria-selected="false"
    >
      Quote Generation
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="pills-premiumInward-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-premiumInward"
      type="button"
      role="tab"
      aria-controls="pills-premiumInward"
      aria-selected="false"
    >
      Premium Inward
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="policy-updation-tab"
      data-bs-toggle="pill"
      data-bs-target="#policy-updation"
      type="button"
      role="tab"
      aria-controls="policy-updation"
      aria-selected="false"
    >
      Policy Updation
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="reward-updation-tab"
      data-bs-toggle="pill"
      data-bs-target="#reward-updation"
      type="button"
      role="tab"
      aria-controls="reward-updation"
      aria-selected="false"
    >
      Reward Updation
    </button>
  </li>
</ul>

<div class="tab-content" id="pills-tabContent">
  <div
    class="tab-pane fade show active"
    id="pills-quoteRequest"
    role="tabpanel"
    aria-labelledby="pills-quoteRequest-tab"
    tabindex="0"
  >
    <div
      style="
        margin-top: 1.3rem;
        border-radius: 10px;
        box-shadow: 0px 4px 8px 4px rgba(147, 129, 255, 0.2);
        min-height: 78vh;
        padding: 1rem;
      "
    >
      <div class="row mb-3">
        <div class="col">
          <div class="inputFieldWrapper">
            <label>Company Name:</label>
            <input />
          </div>
        </div>
        <div class="col">
          <div class="inputFieldWrapper">
            <label>Main Client Name:</label>
            <input />
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <div class="inputFieldWrapper">
            <label>Contact Number:</label>
            <input type="number" />
          </div>
        </div>
        <div class="col">
          <div class="inputFieldWrapper">
            <label>Company Name:</label>
            <select></select>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <div class="inputFieldWrapper">
            <label>No of Vehicles:</label>
            <input type="number" />
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="inputFieldWrapper">
                <select name="" id="">
                  <option selected value="-Product-">-Product-</option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="inputFieldWrapper">
                <select name="" id="">
                  <option selected value="-Add on-">-Add on-</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <div class="inputFieldWrapper">
            <label>Reward Points(%):</label>
            <input type="number" />
          </div>
        </div>
        <div class="col">
          <div class="inputFieldWrapper">
            <label>Commercial Discount(%):</label>
            <input type="number" />
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <div class="inputFieldWrapper">
            <select style="height: 80px" name="" id="">
              <option selected value="-Add on-">
                -- Preferred Insurance Company --
              </option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="inputFieldWrapper">
            <label>Remarks:</label>
            <input style="height: 80px" />
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <div class="inputFieldWrapper">
            <label>POS Name:</label>
            <input />
          </div>
        </div>
        <div class="col">
          <div class="inputFieldWrapper">
            <label>Contact no:</label>
            <input type="number" />
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <div class="inputFieldWrapper">
            <label>Consolidator Name:</label>
            <input />
          </div>
        </div>
        <div class="col">
          <div class="inputFieldWrapper">
            <label>Contact no:</label>
            <input type="number" />
          </div>
        </div>
      </div>

      <div class="uploadBtn mb-3" style="height: 50px">
        <p style="margin: auto; height: max-content">Upload Document*</p>
      </div>

      <div style="text-align: center">
        <button class="primary_btn">Proceed</button>
      </div>
    </div>
  </div>
  <div
    class="tab-pane fade"
    id="pills-quoteGeneration"
    role="tabpanel"
    aria-labelledby="pills-quoteGeneration-tab"
    tabindex="0"
  >
    <div
      style="
        border-radius: 10px;
        box-shadow: 0px 4px 8px 0px rgba(147, 129, 255, 0.2);
        height: 100%;
      "
    ></div>
  </div>
  <div
    class="tab-pane fade"
    id="pills-premiumInward"
    role="tabpanel"
    aria-labelledby="pills-premiumInward-tab"
    tabindex="0"
  >
    3
  </div>
  <div
    class="tab-pane fade"
    id="policy-updation"
    role="tabpanel"
    aria-labelledby="policy-updation-tab"
    tabindex="0"
  >
    4
  </div>
  <div
    class="tab-pane fade"
    id="reward-updation"
    role="tabpanel"
    aria-labelledby="reward-updation-tab"
    tabindex="0"
  >
    5
  </div>
</div>
